<!DOCTYPE html>
<html>
    <head>
        <title>ATM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <style>
        body{
          background: #5433FF;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .divbox{
          border: 1px solid rgba(240, 46, 170, 0.4);
          width: 40%;
          margin: 0 auto;
          margin-top: 2%;
          padding: 1%;
          background-color: white;
          opacity: 80%;
          box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;   
        }  

    </style>
    <body>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">ATM</span>
        </div>
      </nav>
      <center><h1 style="color: white; margin-top: 3%;">Welcome</h1></center>
        <div class="row divbox">
          <div class="col-lg-6">
            <form action="/login" method="get">
              <button class="btn btn-primary">Login</button>
            </form>
          </div>
          <div class="col-lg-6">
            <form action="/newaccount" method="get">
              <button class="btn btn-primary" href="/newaccount">Apply For New Account</button>
            </form>
          </div>
        </div>
    </body>
</html>